body{
    margin: 0;
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}
.header1{
    margin-left: 4rem;
}
.header{
    background-color: #6d6a64;
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    padding-top: 16px;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.05);
    backdrop-filter: blur(5px);
    box-sizing: border-box;
}

.nav-header{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

li{
    margin-right: 30px;
}

a{
    text-decoration: none;
    color: #f9f5ee;
    font-size: 20px;
}

button{
    margin-left: 50px;
    background-color: #ffb72b;
    height: 50px;
    font-weight: 800;
    font-size: 15px;
    color: black;
    align-items: center;
    display: inline-grid;
    justify-content: center;
    padding: 0px 20px;
    border-radius: 7px;
    border-style: none;
    font-family: sf-pro-display, roboto, tahoma;
    letter-spacing: 1.25px;
    line-height: normal;
    cursor: pointer;
}

.button-header {
    margin-right: 1rem;
    margin-top: 10px;
}

main{
    margin-top: 0px;
}

h4{
    font-size: 24px;
    font-weight: 700;
    margin-left: 4rem;
    color: #f9f5ee;
}

.h4-alt{
    font-size: 16px;
    font-weight: 400;
    margin-left: 4rem;
    color: #f9f5ee;
    width: 500px;
    letter-spacing: 1.8px;
    line-height: 20px;
}

h1{
    margin-left: 4rem;
    font-size: 48px;
    font-weight: 700;
    color: #f9f5ee;
    width: 700px;
    line-height: 50px;
}

.button-main{
    margin-left: 4rem;
}
